html{background-color: aquamarine;background-image:url("bg.jfif") ;}

h1{color:blueviolet;font-size:50;font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}

.header{display: flex;border-style: solid;margin: 20px;padding: 20px;background-color: fuchsia;}

.para{display: flex;border-style: solid;margin: 20px;padding: 20px;background-color: chartreuse;}

.item{margin: 10px;padding:45px}

a:link{color:aqua}

a:visited{color:gold}

.item:hover{transform: rotateX(180deg);}



